<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
    <meta charset="UTF-8">
    <link type="text/css" href="/css/table/main.css" rel="stylesheet" />
    <link type="text/css" href="/css/table/util.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <form th:action="@{/user/buyProduct}" method="post">
                                <input type="submit" value="Buy products"/>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/main}" >
                                <input type="submit" value="Main page"/>
                            </form>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <form th:action="@{/user/basket}">
                        <tr th:each="basket : ${baskets}">
                            <td>
                                <table>
                                    <tr>
                                        <td th:text="${basket.product.name}"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <img th:src="@{/img/{fileN}(fileN=${basket.product.fileName})} "width="150" height="220">
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>Category:</td>
                                        <td th:text="${basket.product.category.category}"></td>
                                    </tr>
                                    <tr>
                                        <td>Price: </td>
                                        <td  th:text="${basket.product.price}"></td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <a th:href="@{/user/removeFromBasket(basketId=${basket.id})}">Remove from basket</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>