<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
    <meta charset="UTF-8">
    <link type="text/css" href="/css/table/main.css" rel="stylesheet" />
    <link type="text/css" href="/css/table/util.css" rel="stylesheet" />\
    <link type="text/css" href="/css/box.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .holder{
            position:relative;
            width:300px;
            height:400px;
        }
        .block{
            position:absolute;
            left:0;
            bottom:0;
            right:0;
            background:rgba(255,255,255, 0.7);
            padding:20px;
            display:none;
        }

        .holder:hover .block{
            display:block;
        }
    </style>
</head>
<body>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                                <tr>
                                    <form th:action="@{/user/sortedByCategory}" method="post">
                                    <td>
                                        <select th:name="categoryId">
                                            <option th:each="category: ${categories}"
                                                    th:value="${category.id}"
                                                    th:text="${category.category}">
                                            </option>
                                        </select>
                                        <br>
                                        <input type="submit" value="Submit"/>
                                    </td>
                                    </form>
                                    <td>
                                    </td>
                                    <td>
                                        <form th:action="@{/user/basket}" >
                                            <input type="submit" value="Go to basket"/>
                                        </form>
                                    </td>
                                    <td>
                                        <form th:action="@{/logout}" method="post">
                                            <input type="submit" value="Sign Out"/>
                                        </form>
                                    </td>
                                </tr>
                        </thead>
                        <tbody>
                        <form th:action="@{/main}">
                            <tr th:each="product : ${products}">
                                <td>
                                    <table>
                                        <tr>
                                            <td th:text="${product.name}"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <div class='holder'>
                                                                <img th:src="@{/img/{fileN}(fileN=${product.fileName})} "width="250" height="300">
                                                                <div class='block'>
                                                                    <a th:text="${product.description}"></a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>Category:</td>
                                            <td th:text="${product.category.category}"></td>
                                        </tr>
                                        <tr>
                                            <td>Price: </td>
                                            <td  th:text="${product.price}"></td>
                                        </tr>
                                        <tr>
                                            <td>NumberOfProduct: </td>
                                            <td  th:text="${product.numberOfProduct}"></td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <a th:href="@{/user/addToBasket(productId=${product.id})}">Add To Basket</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </form>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>