<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Page</title>
    <meta charset="UTF-8">
    <link type="text/css" href="/css/inputForm/main.css" rel="stylesheet" />
    <link type="text/css" href="/css/inputForm/util.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" th:action="@{/admin/addProduct}" th:object="${product}" method="post" enctype="multipart/form-data">
                <input type="hidden" th:field="*{id}"/>
                <div class="wrap-input100 validate-input">
                    <a>Name</a>
                    <p class = "field">
                        <input type="text" th:field="*{name}" required="required" placeholder="name"/>
                    </p>
                </div>
                <div class="wrap-input100 validate-input" >
                    <a>Number Of Product:</a>
                    <p class = "field">
                        <input type="number" th:field="*{numberOfProduct}" required="required" placeholder="Number Of Product"/>
                    </p>
                </div>
                <div class="wrap-input100 validate-input" >
                    <a>Price:</a>
                    <p class = "field">
                        <input type="number" th:field="*{price}" required="required" placeholder="price"/>
                    </p>
                </div>
                <div class="wrap-input100 validate-input" >
                    <a>Category:</a>
                    <p class = "field">
                        <select th:name="categoryId" >
                            <option th:each="category: ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.category}">
                            </option>
                        </select>
                    </p>
                </div>
                <div class="wrap-input100 validate-input" >
                    <a>Description:</a>
                    <p class = "field">
                        <input type="text" th:field="*{description}" required="required" placeholder="description"/>
                    </p>
                </div>
                <a>File:</a>
                <div class="wrap-input100 validate-input" >
                    <p class = "field">
                        <input type="file" name="file" required="required"/>
                    </p>
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Save
                        </button>
                    </div>
                </div>
                <br>
                <a th:href="@{/}">Main page</a>
            </form>
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>
</body>
</html>