<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <meta charset="UTF-8">
    <link type="text/css" href="/css/inputForm/main.css" rel="stylesheet" />
    <link type="text/css" href="/css/inputForm/util.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="POST" th:action="@{/doLogin}" >
                <div class="wrap-input100 validate-input" >
                    <p class = "field">
                        <input type="text" name="login" required="required" placeholder="login"><br>
                    </p>
                </div>
                <div class="wrap-input100 validate-input">
                    <p class = "field">
                        <input type="password" name=password required="required" placeholder="password" ><br>
                    </p>
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Log in
                        </button>
                    </div>
                </div>
                <br>
                <p th:if="${param.error != null and session['SPRING_SECURITY_LAST_EXCEPTION'] != null}"
                   th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                    Wrong username or password
                </p>
                <a th:href="@{/registration}">Don't have a login?</a>&nbsp;
            </form>
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>
</body>
</html>