<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <meta charset="UTF-8">
    <link type="text/css" href="/css/inputForm/main.css" rel="stylesheet" />
    <link type="text/css" href="/css/inputForm/util.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" th:action="@{/registration}" th:object="${user}" method="post" >
                <div class="wrap-input100 validate-input">
                    <p class = "field">
                        <input type="text" th:field="*{login}" required="required" placeholder="login"><br>
                    </p>
                </div>
                <div class="wrap-input100 validate-input">
                    <p class = "field">
                        <input type="password" th:field="*{password}" required="required" placeholder="password"><br>
                    </p>
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Register
                        </button>
                    </div>
                </div>
                <br>
                <a th:href="@{/}">Main page</a>
                <br>
                <a th:text="${error}"></a>
            </form>
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>
</body>
</html>