<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
</head>
<body>
    <h1 th:text="${error}"></h1>
    <form th:action="@{/}" >
        <input type="submit" value="Main page"/>
    </form>
</body>
</html>